<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
  <h3 style='color: #ccc;font-size: 30px;' id="greeting">No message yet..</h3>
  <div id="message_holder"></div>

  <form action="/" method="POST">
    <input type="text" name="message" placeholder="Enter a Message" required/>
    <input type="submit" value="SEND"/>
  </form>

  {% if result %}
    <script>
      $( '#greeting' ).remove()
      var result = "{{ result|replace('\n', '\\n')|replace('\'', '\\\'')  }}";
      $('#message_holder').append( result );
    </script>
  {% endif %}
{% endblock content %}
